@{
    ViewData["Title"] = "Home Page";
}

<style>
body{
    background-color:#BED2D9 ;
}

</style>
<body>
<div class="text-center">
    <h1 class="display-4">Destino Certo</h1>
    <h3>Você mais próximo do seu próximo destino!</h3>

    </div>


<p><center>
<img src="https://fullsuitcase.com/wp-content/uploads/2020/10/Amazing-destinations-from-all-over-the-world.jpg.webp">
</center></p>
</body>
    
</div>
